<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProPro - You have received a proposal.</title>
</head>

<body style="margin: 0; padding: 0; background-color: #efefef; font-family: Inter, sans-serif;">

    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #efefef;">
        <tr>
            <td align="center" style="padding: 20px 0;">

                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #f8f9fa; border-radius: 16px; max-width: 600px; width: 100%;">

                    <tr>
                        <td style="background-color: #e1e1e1; border-radius: 16px 16px 0 0; padding: 25px; text-align: center;">
                            <h1 style="margin: 0; color: #000000; font-size: 24px; font-family: Arial, sans-serif;">
                                <strong>ProPro - You have received a proposal.</strong>
                            </h1>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 24px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="text-align: center; font-size: 16px; color: #222; font-family: Arial, sans-serif; line-height: 1.5;">

                                        <!-- replace "#name" with the lecturer's name, "#coursename" with the course name -->

                                        <p style="margin: 0 0 16px 0;">
                                            Hi, <%= @supervisor_username %>
                                        </p>

                                        <p style="margin: 16px 0; font-size: 20px; color: #888;">
                                            <%= @course.course_name %>
                                        </p>

                                        <!-- replace "#projecttitle" with the project title, "#student/#group" with the student's name or group number -->

                                        <p style="margin: 16px 0;">
                                            A proposal has been submitted to you.
                                        </p>

                                        <p style="margin: 0px 0; font-size: 20px; font-weight: bold;">
                                            <br><strong><%= @project.project_instances.last.title %></strong>
                                        </p>

                                        <p style="margin: 0px 0px;">
                                            <strong>by <%= @owner_name %></strong><br><br>
                                        </p>

                                        <p style="margin: 16px 0;">
                                            To view it, visit this link:
                                        </p>

                                        <!-- replace the two "#proposallink"s below with the proposal link -->

                                        <p style="margin: 16px 0;">
                                            <a href="<%= course_project_url(@course, @project) %>" style="color: #0066cc; text-decoration: underline;">
                                                <%= course_project_url(@course, @project) %>
                                            </a>
                                        </p>
                                        <p style="margin: 16px 0;">
                                            Sign in to view the proposal, provide feedback and approve or reject the proposal.
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: center; font-size: 12px; color: #aaa; font-family: Arial, sans-serif; line-height: 1.5;">
                                        <p style="margin: 16px 0;">
                                            ProPro is a web app for <strong>Pro</strong>ject <strong>Pro</strong>posals and <strong>Pro</strong>gress monitoring. It is ideal for educators managing student projects where students propose their ideas for approval!
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
