<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "application" %>
</head>

<body>
    <div class="main">
        <h3>Sign In</h3>
        <br>

        <div class="container">
            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <%= form_with url: sessions_path do |form| %>
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
            <%= form.submit "Sign in" %>
            <% end %>
            <br>

            <%= link_to "Forgot password?", new_password_path %>
        </div>
    </div>
</body>
