<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tailwind","new_tailwind"%>
<% end %>
<% provide :no_sidebar, true %>
<% content_for :title, "Sign In | ProPro" %>

<div
  class="w-[30%] min-w-[350px] mx-auto md:mt-[130px] lg:mt-[160px] mt-[130px] justify-center justify-self-center self-center items-center"
>
  <h1 class="text-3xl md:text-4xl font-bold md:my-[1.3em] my-6 text-center">
    Welcome to ProPro
  </h1>

  <div
    class="w-full bg-[#f8f9fa] rounded-[10px] py-[20px] shadow-[0_0_40px_1px_#b8b8b8]"
  >
    <h1 class="text-center my-[5px] text-2xl font-bold">Sign In</h1>
    <br />
  <% if flash[:alert].present? %>
    <div class="mx-auto w-10/12 bg-red-50 border-1 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded shadow-sm flex items-center" role="alert">
      <svg class="w-6 h-6 mr-3 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <div>
        <p class="font-bold">Login Failed</p>
        <p class="text-sm"><%= flash[:alert] %></p>
      </div>
    </div>
  <% end %>
    <h5 class="flex justify-center text-center px-4">
      <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
    </h5>
    <br />

    <%= form_with url: session_path, class: "w-full" do |form| %>
    <div class="px-[5%] w-full">
      <label for="email" class="block text-base font-bold mb-1">Email</label>
      <%= form.email_field :email_address, required: true, autofocus: true,
      autocomplete: "username", placeholder: "Enter your email address", value:
      params[:email_address], class:"w-full block h-[35px] border
      border-[#6b6b6b] px-[10px] py-[5px] rounded-md mb-4" %>

      <label for="password" class="block text-base font-bold mb-1"
        >Password</label
      >
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "w-full block h-[35px] border border-[#6b6b6b] px-[10px] rounded-md mb-6 lg:mb-10" %>
    </div>

    <div
      class="flex flex-col sm:flex-row gap-4 sm:gap-0 sm:mt-6 px-[5%] mb-[5px] justify-between items-center w-full"
    >
      <%= form.submit "Sign in", class:"w-full sm:w-auto rounded-md bg-green-400
      hover:bg-green-500 font-bold py-[8px] px-[40px] hover:cursor-pointer
      transition-colors mt-2" %> <% end %> <%= link_to "Forgot password?",
      new_password_path, class: "text-sky-500 underline decoration-sky-500
      hover:decoration-sky-700 hover:text-sky-700 whitespace-nowrap" %>
    </div>
  </div>
</div>
