<section class="project-actions">
  <div class="action-group">
    <!-- Lecturer Edit Actions -->
    <% if members.include?(current_user) %>
      <% if policy(topic).update? && (current_version == latest_version) %>
        <div class="action-note"> Latest Version </div> <%= link_to "Edit Topic", edit_course_topic_path(course, topic) %> <%= image_tag("edit.svg") %>
      <% else %>
        <span class="action-note"><%= image_tag("lock.svg") %> Unable to Edit Topic</span>
      <% end %>
      
      <% if current_version == latest_version %>
      <%= button_to "Delete Topic", course_topic_path(course, topic), method: :delete, 
                  data: { confirm: "Are you sure you want to delete this topic?" },
                  class: "back-btn " %>
      <% end %>
    <% end %>
    
    <!-- Version Jump -->
    <% if current_version != latest_version %>
      <%= link_to "Jump to Current Version", course_topic_path(course, topic) %>
    <% end %>
  </div>
</section>
