  <section class="project-fields">
    <header class="section-header">
      <h2 class="section-title">Project Details</h2>
    </header>

    <div class="fields-container">
      <% fields.each do |field| %>
        <div class="field-row">
          <div class="field-label">
            <%= field.project_template_field.label %>
          </div>
          <div class="field-value">
            <% if field.value.present? %>
              <%
                if field.project_template_field.dropdown? || field.project_template_field.radio?
                  begin
                    parsed_value = JSON.parse(field.value)
                    display_value = parsed_value.is_a?(Array) ? parsed_value.join(", ") : parsed_value
                  rescue JSON::ParserError
                    display_value = field.value
                  end
                else
                  display_value = field.value
                end
              %>
              <%= display_value %>
            <% else %>
              No content provided
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>

<style>
  table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: top;
  }

  .diff ul {
    list-style: none;
  }

  .diff del, li.del{
    text-decoration: none;
    background-color:  #f4d4d4;
  }

  .diff ins, li.ins{
    text-decoration: none;
    background-color: #d4f4dd;
  }

  .ins-change{
    background-color: #77DD77;
  }

  .del-change{
  background-color: #FF6961;
  text-decoration: line-through;
  }

  li.empty {
  min-height: 1em;
  list-style: none;
}

  .placeholder {
  background-color: #e0e0e0;
  color: transparent;
  user-select: none;
}

  .diff li {
    list-style: none;
  }

  .diff li { border: 1px dashed rgba(0,0,0,0.1); }

  .diff-col {
  width: 50%;
  word-wrap: break-word;
  vertical-align: top;
}

</style>

<% if @index < @instances.size %>
  <h4>Comparison with next instance</h4>
  <br>

<table>
  <tr>
    <th>Field</th>
    <th>Deletions</th>
    <th>Additions</th>
  </tr>

  <% fields.zip(next_fields).each do |current_field, next_field| %>
    <% field_name = (current_field || next_field).project_template_field.label %>

    <% normalize = ->(text) do
         text.to_s
             .gsub(/\r\n?/, "\n")
             .gsub(/^$/, "[[EMPTYLINE]]")
       end %>

    <% old_val = normalize.call(current_field&.value) %>
    <% new_val = normalize.call(next_field&.value) %>

    <tr>
      <td><%= field_name %></td>

      <% if old_val != new_val %>
        <% old_lines = old_val.split("\n") %>
        <% new_lines = new_val.split("\n") %>

        <% # Use Diff::LCS to align line changes properly %>
        <% diffs = Diff::LCS.sdiff(old_lines, new_lines) %>

        <% aligned_left  = [] %>
        <% aligned_right = [] %>

        <% diffs.each do |change| %>
          <% case change.action %>
          <% when '=' %>
            <% line = h(change.old_element) %>
            <% aligned_left  << "<li class='unchanged'>#{line}</li>" %>
            <% aligned_right << "<li class='unchanged'>#{line}</li>" %>

          <% when '-' %>
            <% line = change.old_element.to_s %>
            <% if line.strip.empty? || line == "[[EMPTYLINE]]" %>
              <% aligned_left  << "<li class='del'><span class='del-change'><br></span></li>" %>
              <% aligned_right << "<li class='placeholder'><br></li>" %>
            <% else %>
              <% safe_line = h(change.old_element) %>
              <% aligned_left  << "<li class='del'><span class='del-change'>#{safe_line}</span></li>" %>
              <% aligned_right << "<li class='placeholder'>#{safe_line}</li>" %>
            <% end %>

          <% when '+' %>
            <% line = change.new_element.to_s %>
            <% if line.strip.empty? || line == "[[EMPTYLINE]]" %>
              <% aligned_left  << "<li class='placeholder'><br></li>" %>
              <% aligned_right << "<li class='ins'><span class='ins-change'><br></span></li>" %>
            <% else %>
              <% safe_line = h(change.new_element) %>
              <% aligned_left  << "<li class='placeholder'>#{safe_line}</li>" %>
              <% aligned_right << "<li class='ins'><span class='ins-change'>#{safe_line}</span></li>" %>
            <% end %>

          <% when '!' %>
            <% old_line = change.old_element.to_s %>
            <% new_line = change.new_element.to_s %>

            <% # 🔹 Do word-level diff inside this line %>
            <% old_words = old_line.split(/(\s+)/) %>
            <% new_words = new_line.split(/(\s+)/) %>
            <% word_diffs = Diff::LCS.sdiff(old_words, new_words) %>

          <% old_html = word_diffs.map do |w|
              case w.action
              when '='
                h(w.old_element)
              when '-', '!'
                "<span class='del-change'>#{h(w.old_element)}</span>"
              else
                ""
              end
            end.join %>

          <% new_html = word_diffs.map do |w|
              case w.action
              when '='
                h(w.new_element)
              when '+', '!'
                "<span class='ins-change'>#{h(w.new_element)}</span>"
              else
                ""
              end
            end.join %>

            <% aligned_left  << "<li class='del'>#{old_html}</li>" %>
            <% aligned_right << "<li class='ins'>#{new_html}</li>" %>
          <% end %>
        <% end %>

        <td class="diff-col">
          <ul class="diff">
            <%= aligned_left.join
                  .gsub('[[EMPTYLINE]]', '<br>')
                  .html_safe %>
          </ul>
        </td>

        <td class="diff-col">
          <ul class="diff">
            <%= aligned_right.join
                  .gsub('[[EMPTYLINE]]', '<br>')
                  .html_safe %>
          </ul>
        </td>

      <% else %>
        <td colspan="2" class="no_change">No changes</td>
      <% end %>
    </tr>
  <% end %>
</table>

<% end %>
