<header class="project-header">
  <h1 class="project-title"><%= current_instance.title %></h1>

  <div class="project-properties">
    <div class="properties-grid">

      <!-- Owner -->
      <div class="properties-item owner-properties">
        <span class="properties-label"><%= image_tag("person.svg") %> Owner</span>
        <div class="properties-value">
          <% if owner.is_a?(User) %>
            <p class="owner-row">
              <span class="user-badge"><%= owner.username[0].upcase %></span>
              <%= owner.username %>
            </p>
          <% else %>
            <% @topic.owner.users.each do |user| %>
              <p class="owner-row">
                <span class="user-badge"><%= user.username[0].upcase %></span>
                <%= user.username %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- Group Name (only if group project) -->
      <% if @topic.owner.is_a?(ProjectGroup) %>
        <div class="properties-item">
          <span class="properties-label"><%= image_tag("group.svg") %> Group Name</span>
          <span class="properties-value">
            <%= @topic.owner.group_name %>
          </span>
        </div>
      <% end %>

      <!-- Type -->
      <div class="properties-item">
        <span class="properties-label"><%= image_tag("person.svg") %> Type</span>
        <span class="properties-value">
          <p>Topic</p>
        </span>
      </div>

      <!-- Status -->
    <% if !@is_student %>
      <div class="properties-item">
        <span class="properties-label"><%= image_tag("status.svg") %> Status</span>
        <div class="properties-value">
          <% if @is_coordinator && @course.require_coordinator_approval && current_version == latest_version %>
            <div class="status-control">
              <%= form_with url: change_status_course_topic_path(@course, @topic), method: :patch, local: true, class: "status-change-form" do |f| %>
                <% statuses = TopicInstance.statuses.keys.without("not_submitted") %>
                <%= f.select :status, options_for_select(statuses.map { |s| [s.humanize, s] }, current_instance.status), {}, class: "status-select status-#{@topic.status}" %>
                <%= f.button type: "submit", class: "status-save-btn", title: "Save status" do %>
                  <%= image_tag("check.svg")%>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <span class="properties-value status-<%= current_instance.status %>">
              <%= current_instance.status.humanize %>
            </span>
          <% end %>
        </div>
      </div>

      <!-- Version Info with Navigation -->
      <div class="properties-item version-info">
        <span class="properties-label">
          <%= image_tag("version.svg") %> Version
          <% if current_version != latest_version %>
            <em class="version-note">(viewing older version)</em>
          <% end %>
        </span>
        <div class="properties-value version-navigation">
          <% # Back arrow: older version (lower index) %>
          <% if current_version > 1 %>
            <%= link_to course_topic_path(@course, topic, version: current_version - 1), class: "version-btn back-arrow" do %>
              <%= image_tag("arrow_back.svg", class:"back-arrow") %>
            <% end %>
          <% else %>
            <span class="version-btn back-arrow disabled">
              <%= image_tag("arrow_back.svg", class:"back-arrow") %>
            </span>
          <% end %>

          <span class="version-text"><%= current_version %> of <%= instances.size %></span>

          <% # Next arrow: newer version (higher index) %>
          <% if current_version < instances.size %>
            <%= link_to course_topic_path(@course, topic, version: current_version + 1), class: "version-btn next-arrow" do %>
              <%= image_tag("arrow_forward.svg", class:"foward-arrow") %>
            <% end %>
          <% else %>
            <span class="version-btn next-arrow disabled">
              <%= image_tag("arrow_forward.svg", class:"foward-arrow") %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</header>
