  <section class="project-fields">
    <header class="section-header">
      <h2 class="section-title">Project Details</h2>
    </header>
  
    <div class="fields-container">
      <% fields.each do |field| %>
        <div class="field-row">
          <div class="field-label">
            <%= field.project_template_field.label %>
          </div>
          <div class="field-value">
            <% if field.value.present? %>
              <% 
                if field.project_template_field.dropdown? || field.project_template_field.radio?
                  begin
                    parsed_value = JSON.parse(field.value)
                    display_value = parsed_value.is_a?(Array) ? parsed_value.join(", ") : parsed_value
                  rescue JSON::ParserError
                    display_value = field.value
                  end
                else
                  display_value = field.value
                end
              %>
              <%= display_value %>
            <% else %>
              No content provided
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: top;
  }

  .diff ul {
    list-style: none;
  }

  .diff del, li.del{
    text-decoration: none;
    background-color:  #f4d4d4; 
  }

  .diff ins, li.ins{
    text-decoration: none;
    background-color: #d4f4dd; 
  }

  .ins-change{
    background-color: #77DD77;
  }

  .del-change{
  background-color: #FF6961;
  text-decoration: line-through;
  }

  li.empty {
  min-height: 1em;
  list-style: none;
}



</style>

<% if @index < @instances.size %>
  <h4>Comparison with next instance</h4>
  <br>

<table>
  <tr>
    <th>Field</th>
    <th>Deletions</th>
    <th>Additions</th>
  </tr>

  <% fields.zip(next_fields).each do |current_field, next_field| %>
    <% field_name = (current_field || next_field).project_template_field.label %>

    <% normalize = ->(text) do
         text.to_s
             .gsub(/\r\n?/, "\n")
             .gsub(/^$/, "[[EMPTYLINE]]") 
       end %>

    <% old_val = normalize.call(current_field&.value) %>
    <% new_val = normalize.call(next_field&.value) %>

    <tr>
      <td><%= field_name %></td>

      <% if old_val != new_val %>
        <% diff = Diffy::SplitDiff.new(old_val, new_val, format: :html) %>

        <td>
          <%= diff.left
              .gsub('[[EMPTYLINE]]', '<br>')
              .gsub('<strong>', '<mark class="del-change">')
              .gsub('</strong>', '</mark>')
              .html_safe %>
        </td>

        <td>
          <%= diff.right
              .gsub('[[EMPTYLINE]]', '<br>')
              .gsub('<strong>', '<mark class="ins-change">')
              .gsub('</strong>', '</mark>')
              .html_safe %>
        </td>
      <% else %>
        <td colspan="2">No changes</td>
      <% end %>
    </tr>
  <% end %>
</table>


<% end %>
