<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "courses" %>
  <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>
<% content_for :no_sidebar, true %>
<% content_for :hide_toggler, true %>
<% breadcrumb :topics, @course %>
<% content_for :title,
"Topics List - #{@course.course_name.truncate(TITLE_NAME_LIMIT)} | ProPro" %>
<%= render "topbar", user: current_user %>

<main class="main">
  <header class="section-header">
    <h1>Topics for
      <%= @course.course_name %></h1>
  </header>

  <section class="search-bar-container mb-2">
    <%= form_with url: course_topics_path(@course), method: :get, local: true, class: "search-form" do %>
      <%= label_tag :query, "Search topics:", class: "search-label" %>
      <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Enter keyword..." %>
      <%= submit_tag "Search", class: "btn btn-secondary" %>
    <% end %>
  </section>

  <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
  <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>

  <section class="topics-list" id="topics-list">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
      <% if @topics.any? %>
        <%= render partial: "courses/topic_card", collection: @topics, as: :topic %>
      <% else %>
        <p class="empty-state">No topics found.</p>
      <% end %>
    </div>
  </section>

  <div class="form-actions">
    <%= link_to "Back to Course", course_path(@course), class: "btn-normal" %>
  </div>
</main>

<%= javascript_include_tag "courses", "data-turbo-track": "reload", defer: true %>
