<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "projects" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Topic</title>
  </head>
  <body>
    <main class="project-edit">
      <header class="edit-header">
        <div class="edit-header-row">
          <h1 class="edit-title">Create Topic for <%= @course.course_name %> <%= image_tag("edit.svg") %></h1>
        </div>
        <p class="edit-description">Fill out your topic details and information below.</p>
      </header>

      <%= form_with url: course_topics_path(@course), method: :post, class: "edit-form" do |form| %>
        <div class="fields-container">
          <% @template_fields.each do |field| %>
            <div class="field-row">
              <%= label_tag "fields_#{field.id}", field.label, class: "field-label", title: field.hint %>
              <% if field.hint.present? %>
                <p class="field-hint"><%= field.hint %></p>
              <% end %>

              <% case field.field_type %>
              <% when "shorttext" %>
                <%= text_field_tag "fields[#{field.id}]", nil, class: "form-control", placeholder: field.hint, required: true %>

              <% when "textarea" %>
                <%= text_area_tag "fields[#{field.id}]", nil, class: "form-control", placeholder: field.hint, required: true %>

              <% when "dropdown" %>
                <%= select_tag "fields[#{field.id}]",
                  options_for_select(
                    field.options.to_s.delete("[]").split(',').map(&:strip)
                  ),
                  prompt: "Select an option", class: "form-control", required: true %>

              <% when "radio" %>
                  <% field.options.to_s.delete("[]").split(',').map(&:strip).each_with_index do |option, idx| %>
                    <%= radio_button_tag "fields[#{field.id}]", option, false, id: "field_#{field.id}_#{idx}", required: true %>
                    <%= label_tag "field_#{field.id}_#{idx}", option %>
                  <% end %>
              <% else %>
                <%= text_field_tag "fields[#{field.id}]", nil, class: "form-control", required: true %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="form-actions">
          <%= link_to "â† Back to Topics", course_topics_path(@course)%>
          <%= submit_tag "Create Topic", class: "btn btn-primary" %>
        </div>
      <% end %>
    </main>
  </body>
</html>