<% current_version = params[:version].to_i %>
<% oldest_version = @instances.size - 1 %>
<% latest_version = 0 %>


<! -- Version Selector -->
<% if current_version < oldest_version %>
  <%= link_to "< Previous", course_topic_path(@course, @project, version: current_version + 1) %>
<% else %>
  <span style="color: gray;">< Previous</span>
<% end %>

<% if current_version > latest_version %>
  <%= link_to "Next >", course_topic_path(@course, @project, version: current_version - 1) %>
<% else %>
  <span style="color: gray;">Next ></span>
<% end %>

<!-- End of Version Selector -->

<% enrolment = @course.enrolments.find_by(user: current_user) %>



<!-- Field Desc, basically everythign from the form -->

<% @fields.each do |field| %>
  <p>
    <strong><%= field.project_template_field.label %>:</strong>
    <%= field.value.presence || "No response." %>
  </p>
<% end %>

<p><strong>Owner:</strong>
  <% if @owner.is_a?(User) %>
    <%= link_to @owner.username, course_lecturer_path(@course, @owner) %>
  <% else %>
    <%= @owner.group_name %>
  <% end %>
</p>

<!-- End of Field Desc -->

<!-- Member -->

<!-- 
<% if @members.any? %>
  <p><strong>Group Members:</strong> <%= @members.map(&:username).join(", ") %></p>
<% end %>
--!>


<p><strong>Status: </strong><%= @project.status %></p>

<!-- Change Status --!>

<% if @is_coordinator %>
  <%= form_with url: change_status_course_topic_path(@course, @project), method: :patch, local: true do |f| %>
    <%= f.label :status, "Change Topic Status:" %>
    <%= f.select :status, options_for_select([["Pending", 0], ["Approved", 1], ["Rejected", 2]], @project.status) %>
    <%= f.submit "Update Status" %>
  <% end %>
<% end %>

<!-- Lecturer Edit -->
<% if @members.include?(current_user) %>
   <% if @project.status == "pending" || @project.status == "rejected" && current_version == latest_version %>
    <%= link_to "Edit Project", edit_course_topic_path(@course, @project), class: "btn btn-primary" %> 
   <% else %>
  <p>Unable to Edit Project</p>
  <% end %>
<% end %>

<p><% @lecturers %></p>

<p>
  <%= link_to "Back to all Topics", course_path(@course) %>
</p>