<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "projects" %>
<% end %>
<% content_for :title, "#{@project.current_title.truncate(TITLE_NAME_LIMIT)} - View Topic | ProPro" %>

<% current_version = @index %>
<% oldest_version = 1 %>
<% latest_version = @instances.size %>
<main id="project">
  <div class="project-layout">
  <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
  <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
    <section class="project-content">
      <%= render 'topic_header',
                current_instance: @current_instance,
                owner: @owner,
                type: @type,
                project: @project,
                members: @members,
                current_version: current_version,
                latest_version: latest_version,
                oldest_version: oldest_version,
                instances: @instances %>
      <%= render 'topic_actions',
                members: @members,
                current_user: current_user,
                project: @project,
                current_version: current_version,
                latest_version: latest_version,
                course: @course %>
      <%= render 'topic_comments',
                comments: @comments,
                new_comment: @new_comment,
                course: @course,
                project: @project,
                current_version: current_version,
                latest_version: latest_version %>
      <%= render 'topic_fields', fields: @fields %>
      <footer class="project-footer">
        <%= link_to "â† Back to Course", course_path(@course) %>
      </footer>
    </section>
  </div>
</main>