<!DOCTYPE html>
<html lang="en">
 <head>
   <%= stylesheet_link_tag "projects" %>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= @current_instance.title %> - Project Details</title>
 </head>
 <body>
   <% current_version = @index %>
   <% oldest_version = 1 %>
   <% latest_version = @instances.size %>
   <main id="project">
     <div class="project-layout">
      <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
      <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
       <section class="project-content">
         <%= render 'topic_header',
                    current_instance: @current_instance,
                    owner: @owner,
                    type: @type,
                    project: @project,
                    members: @members,
                    current_version: current_version,
                    latest_version: latest_version,
                    oldest_version: oldest_version,
                    instances: @instances %>
         <%= render 'topic_actions',
                    members: @members,
                    current_user: current_user,
                    project: @project,
                    current_version: current_version,
                    latest_version: latest_version,
                    course: @course %>
         <%= render 'topic_comments',
                    comments: @comments,
                    new_comment: @new_comment,
                    course: @course,
                    project: @project,
                    current_version: current_version,
                    latest_version: latest_version %>
         <%= render 'topic_fields', fields: @fields %>
        <%= link_to "Propose Project Based on Topic",
          new_course_project_path(@course, topic_id: @topic.id, mode: "based_on_topic"),
          class: "btn" %>

        <%= link_to "Propose Project to this Supervisor",
        new_course_project_path(@course, topic_id: @topic.id, mode: "to_supervisor", supervisor_id: @topic.owner.id),
        class: "btn" %>


         <footer class="project-footer">
           <%= link_to "â† Back to Courses", course_path(@course) %>
         </footer>
       </section>
     </div>
   </main>
 </body>
</html>
