<div class="topbar">
  <li><%= link_to "ProPro", root_path %></li>

  <% if @current_user_enrolment&.coordinator? %>
    <div class="topbar-actions">
      <a href="<%= settings_course_path(@course) %>" class="topbar-icon" title="Edit Course Settings">
        <%= image_tag "settings.svg" %>
        <span class="topbar-info">Edit Course Settings</span>
      </a>

      <a href="<%= edit_course_project_template_path(@course) %>" class="topbar-icon" title="Edit Project Templates">
        <%= image_tag "project_templates.svg" %>
        <span class="topbar-info">Edit Templates</span>
      </a>

      <%= link_to "Export CSV", export_csv_course_path(@course) %>
    </div>
  <% end %>
</div>
