<% breadcrumb :edit_progress_update, @progress_update %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "projects" %>
  <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>
<% content_for :title, "Edit Progress Update - #{@project.current_title.truncate(TITLE_NAME_LIMIT)} | ProPro" %>

<main class="project-edit">
      <h1><b> Progress Update </b></h1>

        <%= form_with(model: [@course, @project, @progress_update]) do |f| %>
          <%= f.label :rating %>
          <%= f.select :rating,
                options_for_select(ProgressUpdate.ratings.keys.map { |s| [s.humanize, s] }, @progress_update.rating) %>
          <br>

          <%= f.label :feedback %>
          <%= f.text_area :feedback, class: "form-control", required: true %>


          <%= f.label :date %>
          <%= f.date_field :date, value: Date.today %>

          <br>
          <%= f.submit "Update Progress" %>
        <% end %>

        <%= link_to "â† Back to Progress", course_project_path(@course, @project, tab: 'progress', anchor: 'project-progress') %>
    </main>
 </body>
</html>