<!DOCTYPE html>
<html lang="en">
 <head>
   <%= stylesheet_link_tag "projects" %>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= @current_instance.title %> - Project Details</title>
 </head>
 <body>

    <%= @progress_update.feedback %>
    <br>
    <%= @progress_update.rating %>
    <br>
    <%= @progress_update.date %>
    <br>
    <%= link_to "← Edit Progress Update", edit_course_project_progress_update_path(@course, @project) %>
    <br>
    <br>
    <%= link_to "Delete",course_project_progress_update_path(@course, @project, @progress_update), method: :delete,
    class: "delete-btn" %>
    <footer class="project-footer">
        <%= link_to "← Back to Project", course_project_path(@course, @project) %>
    </footer>
 </body>
</html>
