<section class="project-actions">
  <div class="action-group">
    <!-- Student Edit Actions -->
    <% if members.include?(current_user) %>
      <% if project.status != "approved" && current_version == latest_version %>
        <div class="action-note"> 
          Latest Version 
          <%= link_to edit_course_project_path(course, project), class: "action-button" do %> 
            <%= image_tag("edit_white.svg") %> 
            Edit Proposal
          <% end %>
        </div>
      <% else %>
        <span class="action-note"><%= image_tag("lock.svg") %> Unable to Edit Project</span>
      <% end %>
    <% end %>
    
    <!-- Version Jump -->
    <% if current_version != latest_version %>
      <%= link_to course_project_path(course, project), class: "action-button" do %>
        <div class="action-circle">
          <%= image_tag("jump_version.svg") %> 
        </div>
        Jump To Latest Version
      <% end %>
    <% end %>
  </div>
</section>

<div class="project-properties">
  <span class="metadata-label"> Properties </span>

  <p class="property-row">
    <span class="property-label"><%= image_tag("time.svg", alt: "") %> Created time</span>
    <span class="property-value"><%= @current_instance.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
  </p>

  <p class="property-row">
    <span class="property-label"><%= image_tag("time.svg", alt: "") %> Last updated time</span>
    <span class="property-value"><%= @current_instance.updated_at.strftime("%B %d, %Y %I:%M %p") %></span>
  </p>
</div>

