<div id = "template-fields-edit-container">
  <% @template_fields.each do |field| %>
    <div class="field-row">
      <%= label_tag "fields_#{field.id}",
                    field.label,
                    class: "field-label",
                    title: field.hint %>
      <% if field.hint.present? %>
        <p class="field-hint"><%= field.hint %></p>
      <% end %>
      <% existing_value = @existing_values[field.id] || @field_values[field.id] || params.dig(:fields, field.id.to_s) || "" %>
      <% case field.field_type %>
      <% when "shorttext" %>
        <%= text_field_tag "fields[#{field.id}]",
                          existing_value,
                          class: "form-control",
                          placeholder: field.hint,
                          required: true %>
      <% when "textarea" %>
        <%= text_area_tag "fields[#{field.id}]",
                          existing_value,
                          class: "form-control",
                          placeholder: field.hint,
                          required: true %>
      <% when "dropdown" %>
        <% options = field.option_list %>
        <%= select_tag "fields[#{field.id}]",
                      options_for_select(options, existing_value),
                      prompt: "Select an option",
                      class: "form-control",
                      required: true %>
      <% when "radio" %>
        <div class="radio-group">
          <% options = field.option_list %>
          <% options.each_with_index do |option, idx| %>
            <div class="radio-option">
              <%= radio_button_tag "fields[#{field.id}]",
                                    option,
                                    (option.to_s == existing_value.to_s),
                                    id: "field_#{field.id}_#{idx}",
                                    required: true %>
              <%= label_tag "field_#{field.id}_#{idx}", option %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= text_field_tag "fields[#{field.id}]",
                          existing_value,
                          class: "form-control",
                          required: true %>
      <% end %>
    </div>
  <% end %>
</div>