<header class="project-header">
  <h1 class="project-title"><%= current_instance.title %></h1>
  
  <div class="project-metadata">
    <div class="metadata-grid">
      <div class="metadata-item">
        <span class="metadata-label"><%= image_tag("person.svg") %> Assignee</span>
        <div class="metadata-value">
          <% if owner.is_a?(User) %>
              <p class="assignee-row">
                <span class="user-badge"><%= owner.username[0].upcase %></span>  
                <%= owner.username %>
              </p>
          <% else %>
            <% project.owner.users.each do |user| %>
              <p class="assignee-row">
                <span class="user-badge"><%= user.username[0].upcase %></span>  
                <%= user.username %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if project.owner.is_a?(ProjectGroup) %>
        <div class="metadata-item">
          <span class="metadata-label"><%= image_tag("group.svg") %> Group Name</span>
          <span class="metadata-value">
            <%= project.owner.group_name %>
          </span>
        </div>
      <% end %>

      <div class="metadata-item">
        <span class="metadata-label"><%= image_tag("person.svg") %> Type</span>
        <span class="metadata-value"><%= type %></span>
      </div>

      <div class="metadata-item">
        <span class="metadata-label"><%= image_tag("status.svg") %> Status</span>
        <span class="metadata-value status-<%= project.status %>">
          <%= project.status.humanize %>
        </span>
      </div>

      <% if current_version != latest_version %>
        <div class="metadata-item version-info">
          <span class="metadata-label"><%= image_tag("version.svg") %> Version</span>
          <span class="metadata-value">
            <%= instances.size - current_version %> of <%= instances.size %>
            <em class="version-note">(viewing older version)</em>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</header>