<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "projects" %>
<% end %>
<% breadcrumb :edit_project, @project %>
<% content_for :title, "Edit Proposal - #{@project.current_title.truncate(TITLE_NAME_LIMIT)} | ProPro" %>

<main class="project-edit">
  <header class="edit-header">
    <div class="edit-header-row">
      <h1 class="edit-title">
        Edit Proposal <%= image_tag("edit.svg") %>
      </h1>
    </div>
    <p class="edit-description">
      Update your project details and information below.
    </p>
  </header>
  
  <%= form_with(model: [@course, @project], url: course_project_path(@course, @project), method: :patch, local: true, class: "edit-form") do |form| %>

    <div class="fields-container">

      <div class="field">
        <label class = "field-label">Based on Topic</label><br/>
        <select name="based_on_topic" class="form-control" required
        hx-get="<%= selected_topic_edit_course_projects_path(@course) %>"
        hx-trigger="change"
        hx-target="#template-fields-edit-container"
        hx-swap="outerHTML"
        >
          <% if @selected_topic_id.nil? && @selected_own_proposal_lecturer_id.nil? %>
            <option value="" selected disabled>-- Select a Topic --</option>
          <% end %>
          <% @lecturer_options.each do |lecturer_enrolment| %>
            <% lecturer = lecturer_enrolment.user %>
            <optgroup label="<%= lecturer.username %>">
              <% approved_topics = Topic.where(status: :approved, course: @course, owner_type: "User", owner_id: lecturer.id) %>

              <% approved_topics.each do |topic| %>
                <% latest_instance = topic.topic_instances.order(version: :desc).first %>

                <option value="<%= topic.id %>" <%= 'selected' if topic.id == @selected_topic_id %>>
                  <%= "#{lecturer.username} - #{latest_instance&.title || 'Untitled Topic'}" %>
                </option>
              <% end %>

              <option value="own_proposal_<%= lecturer_enrolment.id %>" <%= 'selected' if @selected_own_proposal_lecturer_id == lecturer_enrolment.id %>>
                <%= "#{lecturer.username} - Own Proposal" %>
              </option>
            </optgroup>
          <% end %>
        </select>
      </div>
          
      <%= render 'project_edit', 
			template_fields: @template_fields,
			existing_values: @existing_values %>

         
      <div class="form-actions">
        <%= link_to "â† Back to Proposal", course_project_path(@course, @project), class: "btn btn-secondary" %>
        <%= submit_tag "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</main>
