<!-- Title -->
<h2><%= @current_instance.title %></h2>

<br>

<!-- Field Desc, basically everythign from the form -->

<% @fields.each do |field| %>
  <p><strong><%= field.project_template_field.label %>:</strong> <%= field.value %></p>
<% end %>

<p><strong>Owner:</strong>
  <% if @owner.is_a?(User) %>
    <%= @owner.username %>
  <% else %>
    <%= @owner.group_name %>
  <% end %>
</p>

<!-- End of Field Desc -->

<!-- Member -->
<% if @members.any? %>
  <p><strong>Group Members:</strong> <%= @members.map(&:username).join(", ") %></p>
<% end %>


<p><strong>Status: </strong><%= @project.status %></p>

<!-- Change Status --!>

<% if staff? %>
  <%= form_with url: change_status_course_project_path(@course, @project), method: :patch, local: true do |f| %>
    <%= f.label :status, "Change Project Status:" %>
    <%= f.select :status, options_for_select([["Pending", 0], ["Approved", 1], ["Rejected", 2]], @project.status) %>
    <%= f.submit "Update Status" %>
  <% end %>
<% end %>

<!-- Student Edit -->
<% if @members.include?(current_user) %>
   <% if @project.status == "pending" && current_version == latest_version %>
   <%= link_to "Edit Proposal", edit_course_project_path(@course, @project), class: "btn" %>
   <% else %>
  <p>Unable to Edit Project</p>
  <% end %>
<% end %>

<p><% @lecturers %></p>


<p>
  <%= link_to "Back to all proposals", course_projects_path(@course) %>
</p>

<div>
  <h2>Comments</h2>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <div>
        <h4><%= comment.user.username %></h4>
        <% if !comment.deleted %>
          <p><%= comment.text %></p>
          <% if Current.user == comment.user %>
            <%= link_to "X", soft_delete_course_project_comment_path(@course, @project, comment), data: { turbo_method: :patch } %>
          <% end %>
        <% else %>
          <p>This comment was deleted</p>
        <% end %>
</div>