<!DOCTYPE html>
<html lang="en">
 <head>
   <%= stylesheet_link_tag "projects" %>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= @current_instance.title %> - Project Details</title>
 </head>
 <body>
   <% current_version = @index %>
   <% oldest_version = 1 %>
   <% latest_version = @instances.size %>
   <main id="project">
     <div class="project-layout">

       <section class="project-content">
         <%= render 'project_header',
                    current_instance: @current_instance,
                    owner: @owner,
                    type: @type,
                    project: @project,
                    members: @members,
                    current_version: current_version,
                    latest_version: latest_version,
                    oldest_version: oldest_version,
                    instances: @instances %>
         <%= render 'project_actions',
                    members: @members,
                    current_user: current_user,
                    project: @project,
                    current_version: current_version,
                    latest_version: latest_version,
                    course: @course %>
         <%= render 'project_comments',
                    comments: @comments,
                    new_comment: @new_comment,
                    course: @course,
                    project: @project,
                    current_version: current_version,
                    latest_version: latest_version %>
         <%= render 'project_fields', fields: @fields, based_on_topic_name: @current_instance&.source_topic&.project_instances&.last&.title || nil %>
         <footer class="project-footer">
           <%= link_to "â† Back to Projects", course_path(@course) %>
         </footer>
       </section>
     </div>
   </main>
 </body>
</html>
