<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "courses" %>
</head>

<body>
    <div class="main">
        <h2>FOUN-FCI-2510</h2>
        <h1>CourseName</h1>
        <h3>New Password</h3>
        <br>

        <div class="container">
            <h1>Forgot your password?</h1>

            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <br>
            <br>

            <%= form_with url: passwords_path do |form| %>
            <br>
            <label for="email">Email</label>
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form", name:"email" %>
            <br>
            <div class="submit" style="justify-content: center;">
            <%= form.submit "Email reset instructions", class:"push"%>
            <% end %>
            </div>
        </div>
    </div>
</body>
