<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "courses" %>
<% end %>
<% content_for :title, "Forgot Password | ProPro" %>

<div class="main">
  <div class="container">
    <h1>Forgot your password?</h1>

    <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
    <br>

    <%= form_with url: passwords_path do |form| %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
    <%= form.submit "Email reset instructions" %>
    <% end %>
  </div>
</div>