<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: user_create_path do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <p>I am a: </p>
  <%= form.radio_button :role, "student", required: true %>
  <%= form.label :role, "Student" %>
  <%= form.radio_button :role, "staff", required: true %>
  <%= form.label :role, "Staff" %><br>
  <%= form.search_field :username, placeholder: "Name"%><br>
  <%= form.search_field :mmu_directory, placeholder: "MMU Directory"%><br>
  <p>e.g. https://mmuexpert.mmu.edu.my/<strong>johndoe</strong></p>
  <%= form.submit "Create Account" %>
<% end %>
