<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "projects" %>
<% end %>

<% content_for :title, "Edit Profile | ProPro" %>
  <main class="project-edit">
    <header class="edit-header">
      <div class="edit-header-row">
        <h1 class="edit-title">Edit Profile <%= image_tag("edit.svg") %></h1>
      </div>
      <p class="edit-description">Update your profile details and information below.</p>
    </header>

    <div class="fields-container">
      <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
      <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
    </div>

    <%= form_with url: user_edit_path, model: @user, method: :post, local: true, class: "edit-form" do |form| %>
      <div class="fields-container">
        <div class="account-details">   
        <h4>Account details</h4>
        
        <div class="field-row">
          <%= form.label :username, "Username", class: "field-label" %>
          <%= form.text_field :username, class: "form-control" %>
        </div>

        <div class="field-row">
          <%= form.label :web_link, "Link to MMU directory/Portfolio", class: "field-label" %>
          <%= form.text_field :web_link, class: "form-control" %>
        </div>

        <div class="field-row">
          <%= form.label :description, "Description", class: "field-label" %>
          <p class="field-hint">Describe yourself to indicate to students what project topics you may accept for the courses you are teaching. Also indicate Consultation Hours (days of week and time) when students can meet you to request you as supervisor in case of FYP/Mini IT Project.</p>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        </div>

        <div class="change-password">
        <h4>Change password</h4>
        
        <div class="field-row">
          <%= form.label :new_password, "New Password", class: "field-label" %>
          <%= form.password_field :new_password, class: "form-control" %>
        </div>

        <div class="field-row">
          <%= form.label :new_password_confirmation, "New Password Confirmation", class: "field-label" %>
          <%= form.password_field :new_password_confirmation, class: "form-control" %>
        </div>
        </div>
      </div>

      <div class="form-actions">
        <%= link_to "â† Back", "/", class: "btn btn-secondary" %>
        <%= form.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </main>

