<div class="flex fixed justify-between content-center bg-[#e1e1e1] w-full top-0 left-0 h-13 z-5">
  <a class="px-4 text-2xl font-bold self-center" href="<%= course_path(@course) %>"><%= current_user.username %>'s Course View</a>

  <% if @current_user_enrolment&.coordinator? %>
    <div class="topbar-actions">
      <a href="<%= settings_course_path(@course) %>" class="topbar-icon" title="Edit Course Settings">
        <%= image_tag "settings.svg" %>
        <span class="topbar-info">Edit Course Settings</span>
      </a>

      <a href="<%= edit_course_project_template_path(@course) %>" class="topbar-icon" title="Edit Project Templates">
        <%= image_tag "project_templates.svg" %>
        <span class="topbar-info">Edit Templates</span>
      </a>

      <%= link_to "Export CSV", export_csv_course_path(@course), class:"pr-5" %>
    </div>
  <% end %>
</div>
