<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#efefef] font-['Inter', sans-serif]">
    <div class="w-[30%] min-w-[400px] m-auto mt-[150px] justify-center justify-self-center self-center items-center">
        <h1 class="flex justify-center text-3xl font-bold my-[5px]"><%= @course.course_name %></h1>
        <h3 class="flex justify-center text-[#858585] text-xl font-bold my-[5px]">This course is: <%= @course.grouped? ? "Grouped" : "Not Grouped" %></h3>
        <h3 class="flex justify-center text-[#858585] text-xl font-bold my-[5px]">Add Students</h3>
        <br>
        <div>
            <div class="flex w-[100%] h-[60%] justify-center justify-items-center flex-col rounded-[10px] py-[15px] px-[5px] mb-[20px] shadow-[0_0_50px_1px_#b8b8b8] bg-[#f8f9fa] ">
                <h5 class="flex justify-center"><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
                <h5 class="flex justify-center"><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
                <br>

                <%= form_with url: handle_add_students_course_path, method: :post do |form| %>
                <p class="flex justify-center">Upload CSV export from EBwise: </p><br>

                <div class="flex mt-[5px] mx-[5%] mb-[0px] justify-between items-center self-center">

                    <%= form.file_field :csv_file %>
                    <%= form.submit "Add Students" %>
                
                </div>
                <% end %>
            </div>
        <div>
    </div>
</body>
