<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>
<% content_for :title,
"Add Students - #{@course.course_name.truncate(TITLE_NAME_LIMIT)} | ProPro" %>

<% content_for :hide_toggler, true %>
<% breadcrumb :course_add_students, @course %>

<div
  class="
    w-[95%] sm:w-[85%] md:w-[75%] lg:w-[50%] min-w-[300px] m-auto mt-6 flex flex-col
    items-center mb-4
  "
>
  <h1
    class="
      text-2xl lg:text-3xl font-bold text-gray-900 flex flex-wrap items-center gap-2
      justify-center text-center mb-2
    "
  >
    Add Students for
    <span class="inline-block text-green-700">
      <%= @course.course_name %></span>
  </h1>
  <h3
    class="
      flex justify-center text-[#858585] text-lg sm:text-xl font-bold text-center
    "
  >This course is:
    <%= @course.grouped? ? "Grouped" : "Not Grouped" %></h3>
  <br>
  <div
    class="
      flex w-full justify-center flex-col rounded-[10px] py-[15px] px-[10px]
      sm:px-[15px] mb-[20px] shadow-[0_0_20px_1px_#b8b8b8] bg-[#f8f9fa]
    "
  >
    <h5 class="flex justify-center text-center px-2"><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
    <h5 class="flex justify-center text-center px-2"><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
    <br>

    <div class="flex w-full flex-col px-2 sm:px-5">
      <%= form_with url: handle_add_students_course_path, class:"w-full", method: :post do |form| %>
        <p class="flex justify-start mb-3 text-sm sm:text-base">Upload CSV export from EBwise:
        </p>

        <div
          class="
            flex flex-col sm:flex-row justify-between items-center gap-3 sm:gap-0
          "
        >
          <%= form.file_field :csv_file,
                          class:
                            "w-full border border-gray-300 rounded-lg cursor-pointer bg-gray-50 file:border-gray-300 file:rounded-l-lg file:h-full file:bg-gray-300 hover:file:bg-gray-400 file:py-2 file:px-2 lg:file:px-5 text-sm sm:text-base" %>
          <%= form.submit "Add Students",
                      class:
                        "w-full sm:w-auto flex justify-center rounded-md bg-green-400 hover:bg-green-600 py-[8px] sm:py-[4px] px-[10px] sm:mx-[5px] hover:cursor-pointer font-medium text-sm sm:text-base transition-colors mt-2 sm:mt-0" %>
        </div>

      <% end %>
    </div>

    <div
      class="flex justify-center flex-col py-[15px] px-[5px] sm:px-[10px] mt-2"
    >

      <% if @course.grouped? %>
        <div
          class="
            mx-0 sm:mx-[10px] p-[10px] sm:p-[15px] bg-[#ebebeb] rounded-md outline outline-1
            outline-[#c4c4c4] text-sm sm:text-base overflow-hidden
          "
        >
          <p>
            To import students with their Groups, please provide a CSV file in
            <%= link_to "this format",
            "/sampleCSV/ProPro Sample Import - Group.csv",
            download: "ProPro Sample Import - Group.csv",
            class:
              "text-sky-500 underline decoration-sky-500 hover:decoration-sky-700 hover:text-sky-700" %>
            <br><br>
            In Moodle-based systems, this CSV file can be automatically
            exported from your system. Once you are at your course page,
            navigate to:
          </p><br>
          <div class="ml-4 sm:ml-6">
            <ol class="list-decimal list-outside space-y-1">
              <li>"Participants"</li>
              <li>Submenu - "Groups → Overview"</li>
              <li>Select appropriate Grouping containing your groups in "Filter
                by Grouping", then scroll to bottom of page</li>
              <li>Download groups and groupings as Comma separated values</li>
            </ol>
          </div><br>
          <p>
            You may refer to a sample screenshot below.
          </p><br>
          <%= image_tag "#{"Source of Grouped Students"}.png",
          class: "max-w-full h-auto rounded border border-gray-300" %>
        </div><br><br>
      <% else %>
        <div
          class="
            mx-0 sm:mx-[10px] p-[10px] sm:p-[15px] bg-[#ebebeb] rounded-md outline outline-1
            outline-[#c4c4c4] text-sm sm:text-base overflow-hidden
          "
        >
          <p>
            To import students with their Groups, please provide a CSV file in
            <%= link_to "this format",
            "/sampleCSV/ProPro Sample Import - Solo.csv",
            download: "ProPro Sample Import - Solo.csv",
            class:
              "text-sky-500 underline decoration-sky-500 hover:decoration-sky-700 hover:text-sky-700" %>
            <br><br>
            In Moodle-based systems, this CSV file can be automatically
            exported from your system. Once you are at your course page,
            navigate to:
          </p><br>
          <div class="ml-4 sm:ml-6">
            <ol class="list-decimal list-outside space-y-1">
              <li>"Participants"</li>
              <li>Submenu - "Enrolled users" (usually already shown by default)</li>
              <li>Using the filter set Match to "Roles" and in Type or select,
                select "Student"</li>
              <li>Click "Apply filters", then scroll to bottom of page</li>
              <li>Click "Select all XX users" to select all students</li>
              <li>Under With selected users... select "Comma separated values
                (.csv)"</li>
            </ol>
          </div><br>
          <p>
            You may refer to a sample screenshot below.
          </p><br>
          <%= image_tag "#{"Source of Solo Students"}.png",
          class: "max-w-full h-auto rounded border border-gray-300" %>
        </div><br><br>
      <% end %>

    </div>
  </div>
</div>
