<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "tailwind","new_tailwind"%> 
</head>

<body class="bg-[#efefef] font-['Inter', sans-serif]">
    <div class="w-[50%] min-w-[350px] m-auto mt-[3%] justify-center justify-self-center self-center items-center">
        <h1 class="flex justify-center text-3xl font-bold my-[2px]"><%= @course.course_name %></h1>
        <h3 class="flex justify-center text-[#858585] text-xl font-bold ">This course is: <%= @course.grouped? ? "Grouped" : "Not Grouped" %></h3>
        <h3 class="flex justify-center text-[#858585] text-xl font-bold ">Add Students</h3>
        <br>
        <div class=" flex w-auto justify-center justify-items-center flex-col rounded-[10px] py-[15px] px-[5px] mb-[20px] shadow-[0_0_20px_1px_#b8b8b8] bg-[#f8f9fa] ">
            <h5 class="flex justify-center"><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5 class="flex justify-center"><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <div class="flex w-full justify-self-start px-5">
                <%= form_with url: handle_add_students_course_path, class:"w-full", method: :post do |form| %>
                    <p class="flex justify-start mb-3">Upload CSV export from EBwise: </p>
                    
                    <div class="flex justify-between content-center">
                        <%= form.file_field :csv_file, class:"content-center w-full border border-gray-300 rounded-lg cursor-pointer bg-gray-50 file:border-gray-300 file:rounded-l-lg file:h-full file:bg-gray-300 hover:file:bg-gray-400 file:px-1 lg:file:px-5" %>
                        <%= form.submit "Add Students", class:"flex rounded-md bg-green-400 hover:bg-green-600 py-[4px] px-[10px] mx-[5px] my-[5px] hover:cursor-pointer hover:cursor-pointer" %>
                    </div>

                <% end %>
            </div>
            <div class="flex justify-center justify-items-center flex-col py-[15px] px-[5px]">

                <% if @course.grouped? %>
                    <div class="mx-[10px] p-[5px] bg-[#ebebeb] rounded-md outline outline-[#c4c4c4]">
                        <p>
                            To import students with their Groups, please provide a CSV file in <%= link_to "this format", "/sampleCSV/ProPro Sample Import - Group.csv", download:'ProPro Sample Import - Group.csv', class: "text-sky-500 underline decoration-sky-500 hover:decoration-sky-700 hover:text-sky-700" %> <br><br>
                            In Moodle-based systems, this CSV file can be automatically exported from your system. Once you are at your course page, navigate to:
                        </p><br>
                        <div class="ml-4">
                            <ol class="list-decimal list-outside">
                                <li>"Participants"</li>
                                <li>Submenu - "Groups → Overview"</li>
                                <li>Select appropriate Grouping containing your groups in "Filter by Grouping", then scroll to bottom of page</li>
                                <li>Download groups and groupings as Comma separated values</li>
                            </ol>
                        </div><br>
                        <p>
                            You may refer to a sample screenshot below.
                        </p><br>
                        <%= image_tag "#{"Source of Grouped Students"}.png" %>
                    </div><br><br>
                <% else %>
                    <div class="mx-[10px] p-[5px] bg-[#ebebeb] rounded-md outline outline-[#c4c4c4]">
                        <p>
                            To import students with their Groups, please provide a CSV file in <%= link_to "this format", "/sampleCSV/ProPro Sample Import - Solo.csv", download:'ProPro Sample Import - Solo.csv', class: "text-sky-500 underline decoration-sky-500 hover:decoration-sky-700 hover:text-sky-700" %> <br><br>
                            In Moodle-based systems, this CSV file can be automatically exported from your system. Once you are at your course page, navigate to:
                        </p><br>
                        <div class="ml-4">
                            <ol class="list-decimal list-outside">
                                <li>"Participants"</li>
                                <li>Submenu - "Enrolled users" (usually already shown by default)</li>
                                <li>Using the filter set Match to "Roles" and in Type or select, select "Student"</li>
                                <li>Click "Apply filters", then scroll to bottom of page</li>
                                <li>Click "Select all XX users" to select all students</li>
                                <li>Under With selected users... select "Comma separated values (.csv)"</li>
                            </ol>
                        </div><br>
                        <p>
                            You may refer to a sample screenshot below.
                        </p><br>
                        <%= image_tag "#{"Source of Solo Students"}.png" %>
                    </div><br><br>   
                <% end %>

            </div>
        </div>
    </div>
</body>
