<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "courses" %>
</head>

<body>
    <div class="main">
        <h1><%= @course.course_name %></h1>
        <h3>This course is: <%= @course.grouped? ? "grouped" : "not grouped" %></h3>
        <h3>Add Students</h3>
        <br>

        <div class="container">
            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <%= form_with url: handle_add_students_course_path, method: :post do |form| %>
            <p>Upload CSV export from EBwise: </p>
            <%= form.file_field :csv_file %>

            <%= form.submit "Add Students" %>
            <% end %>
        </div>
    </div>
</body>
