<!DOCTYPE html>
<html lang="en">

<head>
    <%= stylesheet_link_tag "courses" %>
</head>

<body>
    <div class="main">
        <h1><%= @course.course_name %></h1>
        <h3>Add Lecturer</h3>
        <br>

        <div class="container">
            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <%= form_with url: handle_add_lecturers_course_path, method: :post do |form| %>
            <p>Add lecturers<br>Use format <strong>EMAIL&semi;</strong> for each entry</p>
            <%= form.text_field :invited_lecturers, required: true, placeholder: "Additions"%><br>

            <%= form.submit "Add Lecturers" %>
            <% end %>
        </div>
    </div>
</body>
