<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "courses" %>
    <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>
<% content_for :title, "Create Course | ProPro" %>

<body>
    <div class="main">
        <h1>Create Course</h1>
        <br>

        <div class="container">
            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <%= form_with url: courses_path, model:@new_course, method: :post do |form| %>
            <% if @new_course.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@new_course.errors.count, "error") %> prohibited this course from being saved:</h2>
                <ul>
                    <% @new_course.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <p><%= form.label :course_name, "Course Name:" %></p>
            <%= form.text_field :course_name, required: true, autofocus: true, placeholder: "Enter Course Name"%>
            <br>

            <p>Students would work?</p>
            <%= form.radio_button :grouped, "true", required: true %>
            <%= form.label :grouped, "In groups", value: true %>
            <%= form.radio_button :grouped, "false", required: true %>
            <%= form.label :grouped, "By themselves", value: false %>
            <br>

            <%= form.submit "Create Course" %>
            <% end %>
        </div>
    </div>
</body>
