<% content_for :stylesheets do %>
    <%= stylesheet_link_tag "courses" %>
    <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>
<% content_for :title, "Create Course | ProPro" %>

<body>
    <div class="main">
        <h1>Create Course</h1>
        <br>

        <div class="container">
            <h5><%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %></h5>
            <h5><%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %></h5>
            <br>

            <%= form_with url: courses_path, model:@new_course, method: :post do |form| %>
            <% if @new_course.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@new_course.errors.count, "error") %> prohibited this course from being saved:</h2>
                <ul>
                    <% @new_course.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <div data-controller="overlay" class="relative z-50">
                <div class="flex justify-between items-end mb-1">
                    <p><%= form.label :course_name, "Course Name:" %></p>
                    <button type="button" data-action="click->overlay#open" class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded shadow-sm">
                        Reuse details from another course
                    </button>
                </div>

                <div data-overlay-target="menu"
                    class="fixed inset-0 z-[60] flex items-start justify-center pt-20 bg-black/50 transition-opacity duration-300 opacity-0 pointer-events-none">
                    
                    <div class="bg-white rounded-xl shadow-2xl w-9/12 min-h-[85vh] flex flex-col p-10 relative">
                        
                        <div class="mb-6">
                            <h3 class="text-3xl font-bold text-gray-600">Select a Course to Copy</h3>
                        </div>

                        <div data-overlay-target="content" class="flex-grow">
                        </div>

                        <div class="mt-6 flex justify-end">
                            <button type="button" 
                                    data-action="click->overlay#close"
                                    class="text-red-600 hover:text-red-800 text-sm font-medium">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <%= form.text_field :course_name, required: true, autofocus: true, placeholder: "Enter Course Name" %>
            <br>

            <p>Students would work?</p>
            <%= form.radio_button :grouped, "true", required: true %>
            <%= form.label :grouped, "In groups", value: true %>
            <%= form.radio_button :grouped, "false", required: true %>
            <%= form.label :grouped, "By themselves", value: false %>
            <br>

            <%= form.submit "Create Course" %>
            <% end %>
        </div>
    </div>
</body>
