<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "courses.css" %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_user.username %>'s <%= @course.course_name %> Course View</title>
</head>

<body>
  <%= render 'topbar', user: current_user %>
  <%= render 'breadcrumb' %>

  <div class="sidebar">
    <a href="#home">Proposal Guidelines</a>
    <a href="#home">Proposal Status</a>
    <a href="#home">Supervisors Available</a>
    <a href="#home">Group Members</a>
  </div>

  <div class="main">
    <h1><%= @course.course_name.upcase %></h1>
    <h3>Your Course</h3>
    <br>

    <div class="container">
      <form>
        <h4>Proposal Guidelines</h4>
        <h2><%= @description || "No description available for this course." %></h2>
      </form>
    </div>

    <div class="status-bar-container">
      <%= render 'project_status_bar', project: @project %>
    </div>

    <div class="container">
      <h4>Supervisors Available</h4>
      <ul class="supervisors">
        <%= render partial: 'lecturers', collection: @lecturers, as: :lecturer, locals: { course: @course } %>
      </ul>
    </div>

    <div class="container">
      <h4>Topics</h4>
      <div class="project-list-gapper">
        <div class="cards-container">
          <%= render partial: 'project_card', collection: @topic_list, as: :project %>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Participants</h4>
      <ul class="participants">
        <li class="participants-block">
          <avatar>C</avatar>
          <name>Mr. Chiam Juin Hoong</name>
          <span class="blob" style="background: #4d7c5f">Proposal submitted</span>
          <span class="blob-group">Group 7</span>
        </li>
        <li class="participants-block">
          <avatar>C</avatar>
          <name>Mr. Chong Seng Kiat</name>
          <span class="blob" style="background: #7c4d4d">Proposal not submitted</span>
          <span class="blob-group">Group 7</span>
        </li>
      </ul>
    </div>

  </div>

  <%= javascript_include_tag "courses", "data-turbo-track": "reload", defer: true %>
</body>
</html>