<% field_index = local_assigns[:field_index] || field_form.index %>
<% options = Array(field_form.object.options) %>

<% effective_field_type =
  local_assigns[:field_type] || field_form.object.field_type || "shorttext" %>
<% show_options = %w[dropdown radio].include?(effective_field_type) %>

<div class="options-section w-full <%= 'hidden' unless show_options %>">

  <% if show_options %>
    <div
      class="<%= effective_field_type == 'dropdown' ? 'options-list' : 'radio-grid' %> flex flex-col gap-1 mb-2"
    >
      <% (options.present? ? options : ['']).each_with_index do |opt, i| %>
        <% if effective_field_type == 'dropdown' %>
          <%= render "project_templates/option_row_dropdown",
          field_index: field_index,
          option_index: i,
          option_value: opt %>
        <% else %>
          <%= render "project_templates/option_row_radio",
          field_index: field_index,
          option_index: i,
          option_value: opt %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <button
    type="button"
    class="
      add-option-btn text-[0.8125rem] text-gray-500 bg-transparent border
      border-dashed border-gray-300 rounded py-2 px-3 cursor-pointer transition-all
      duration-150 ease-in-out w-fit hover:text-blue-600 hover:border-blue-500
      hover:bg-[#f8f9fa] mt-2
    "
    data-field-index="<%= field_index %>"
    data-field-type="<%= effective_field_type == 'radio' ? 'radio' : 'dropdown' %>"
    data-option-index="<%= options.size > 0 ? options.size : 1 %>"
  >
    + Add Option
  </button>
</div>
