<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "courses" %>
  <%= stylesheet_link_tag "tailwind", "new_tailwind" %>
<% end %>

<div class="topbar">
  <% if Current.user.is_staff %>
    <%= link_to "#{Current.user.username}'s Dashboard" %>
  <% else %>
    <%= link_to "#{Current.user.username}'s Dashboard" %>
  <% end %>
</div>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_url %></li>
  <li><%= link_to "Edit Profile", user_profile_path if Current.user.is_staff %></li>
  <li><%= link_to "Log Out", session_path, data: { turbo_method: :delete } %></li>
</ul>

<% content_for :sidebar do %>
  <div
    class="
      h-full w-60 fixed z-[1] top-[106px] left-0 bg-[#f8f9fa] overflow-x-hidden
      p-[15px]
    "
  >
    <%= sidebar_link "Courses", "#home" %>
  </div>
<% end %>
<div class="main" id="home">
  <h1>Dashboard</h1>
  <h3>Your Courses</h3>
  <br>
  <div class="cards-container">
    <% if @courses.present? %>
      <% @courses.each do |course| %>
        <a href="<%= course_path(course) %>" class="card-link">
          <div class="project-card">
            <ul>
              <b style="font-weight: bold;"><%= course.course_name %></b>
              <br>
              <b>
                Coordinator:
                <%= course.coordinators.first.username %></b>
              <ul>
                <li class="project-card inner">
                  <p class="text"><%= course.course_description || "No description available" %></p>
                </li>
              </ul>
            </ul>
          </div>
        </a>
      <% end %>
    <% else %>
      <h5><img src="info.png" class="icon" size="20S">You have no courses at the moment. Please create one.</h5>
    <% end %>
  </div>
  <%= if Current.user.is_staff
    link_to "+", new_course_path, class: "rounded-add-button"
  end %>
</div>
