<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tailwind","new_tailwind","courses" %>
<% end %>
<% content_for :title, "Home | ProPro" %>

<div class="flex fixed justify-between content-center bg-[#e1e1e1] w-full top-0 left-0 h-13 z-5 px-4 text-2xl font-bold items-center" > 
    <%= link_to "#{Current.user.username}'s Dashboard" %>
</div>
<ul class="flex fixed bg-[#b5b5b5] top-13 left-0 w-full h-9 z-5 items-center text-sm font-bold">
  <li class="hover:bg-[#efefef] px-4.5 py-2"><%= link_to "Home", root_url %></li>
  <li class="hover:bg-[#efefef] px-4.5 py-2"><%= link_to "Edit Profile", user_profile_path if Current.user.is_staff %></li>
  <li class="hover:bg-[#efefef] px-4.5 py-2"><%= link_to "Log Out", session_path, data: { turbo_method: :delete } %></li>
</ul>
<div class="flex flex-col fixed bg-[#f8f9fa] top-22 h-[calc(100%-5.5rem)] w-60 z-1">
  <a class="p-3 pt-2 text-sm block hover:bg-[#b5b5b5] justify-center align-center" href="#home">Courses</a>
</div>
<div class="main">
  <h1>Dashboard</h1>
  <h3>Your Courses</h3>
  <br>
  <div class="cards-container">
    <% if @courses.present? %>
      <% @courses.each do |course| %> 
        <a href="<%= course_path(course) %>" class="card-link">
        <div class="project-card">
          <ul>
          <b style="font-weight: bold;"><%= course.course_name %></b>
          <br>
          <b> Coordinator: <%= course.coordinators.first.username %></b>
          <ul>
            <li class="project-card inner">
            <p class="text"><%= course.course_description || "No description available" %></p>
            </li>
          </ul>
          </ul>
        </div>
        </a>
      <% end %>
    <% else %>
      <h5><img src="info.png" class="icon" size="20S">You have no courses at the moment. Please create one.</h5>
    <% end %>
  </div>
  <%= link_to "+", new_course_path, class: "rounded-add-button" if Current.user.is_staff %>
</div>
